body {
    font-family:'Roboto', sans-serif;
    margin:0;
    padding:0;
               
}

.header,
.footer,
.header-links a {
    background-color:#1f2937;
    color:#f9faf8;
    text-decoration: none;
    font-size:24px;
    height:72px;
    display:flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    padding:0 10%;
}

#logo {
    flex-shrink: 0;
    margin-right:24px;
    font-weight:900;
}

.header-links {
    display:flex;
    gap:1.5em;
}

/* .content {
    border:2px solid blue;
    flex:2;
    display: flex;
    flex-direction:column;
} */


.hero {
    color:#f9faf8;
    background-color:#1f2937;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:10%;
    gap:2em;
}

.hero .title {
    font-size:48px;
    
}

.hero .left {
    display:flex;
    flex-direction: column;
    gap:10px;
}

button {
    background-color: #3882F6;
    color:#f9faf8;
    border-radius:8px;
    width:120px;
    padding:6px 1em;
    border:none;
}

.hero .right  {
    flex-shrink: 0;
    width:50%;

}

.image {
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;

}

/* CARDS */

.content {
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:2em 10%;
    
}

.content .title {
    font-size:36px;
    font-weight: 900;
    color:#1f2937;
    margin-bottom:1em;
}

.cards-container {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    border:2px solid red;
}

.card {
    display:flex;
    max-width:200px;
    flex-direction: column;
    align-items:center;
    text-align:center;  
    gap:0.5em;
}

 .box {
    border:5px solid #3882F6;
    border-radius: 20px;
    align-content:center;
    width:170px;
    height:170px;
}

#quotation {
    border:2px solid red;
    flex:1;
}


.call-to-action {
    border:2px solid blue;
    color:#f9faf8;
    background-color: #3882F6;
    border-radius:8px;
    flex:1;
}



.footer {
    border:2px solid pink;
    justify-content: center;
}